@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat BoldItalic";
  src: url("/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat MediumItalic";
  src: url("/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat SemiBoldItalic";
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}

:root {
  --text-white: white;
  --text-dark: #285b32;
  --main-green-solid: rgba(56, 130, 72, 1);
  --main-green-transparent: rgba(56, 130, 72, 0.69);
  --background-color-dark: var(--main-green);
  --main-gradient: linear-gradient(
    90deg,
    var(--main-green-solid) 50%,
    var(--main-green-transparent) 100%
  );

  font-family: "Montserrat Regular";

  background-image: url("/img/fondo-aviones_xl.jpg");
  background-size: cover;
}

header {
  background-image: url("/img/fondo-cargo_xl.jpg");
  background-size: cover;
  background-position: center bottom;
}

h1 {
  font-family: "Montserrat BoldItalic";
  font-size: 3.5rem;

  color: var(--text-white);
}

h2 {
  font-family: "Montserrat BoldItalic";
  font-size: 1.7rem;
  color: var(--text-dark);
}

p {
  font-family: "Montserrat Medium";
  color: var(--text-dark);
}

b {
  font-family: "Montserrat Bold";
}

button {
  border: none;
  border-radius: 50px;

  background: none;
  background-color: white;
  background-image: var(--main-gradient);

  color: var(--text-white);

  font-family: "Montserrat SemiBoldItalic";
  font-size: 2rem;

  padding: 1vh 5vw;

  cursor: pointer;
}

input {
  all: unset;

  height: 100%;
  width: 100%;

  font-size: 1.5rem;

  text-align: center;
}

label[for="email"] {
  border: none;
  border-radius: 50px;

  background: none;
  background-color: white;
  background-image: var(--main-gradient);

  color: var(--text-white);

  font-family: "Montserrat SemiBoldItalic";

  padding: 1vh 5vw;
  padding-right: 1.9vw;

  width: 40vw;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* mobile */
@media screen and (max-width: 600px) {
  :root {
    background-image: url("/public/img/fondo-aviones_md.jpg");
  }

  h1 {
    font-size: 1.5rem;
  }

  header {
    background-image: url("/img/fondo-cargo_md.jpg");
  }

  label[for="email"] {
    width: 70vw;
  }
}

@media screen and (max-width: 375px) {
  input {
    font-size: 1.2rem;
  }
}

/* laptop/desktop */
@media screen and (min-width: 600px) and (max-width: 1920px) {
  :root {
    background-image: url("/img/fondo-aviones_lg.jpg");
  }

  header {
    background-image: url("/img/fondo-cargo_lg.jpg");
  }
}
