@font-face {
  font-family: "Montserrat Bold";
  src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat BoldItalic";
  src: url("/fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("/fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat MediumItalic";
  src: url("/fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat SemiBoldItalic";
  src: url("/fonts/Montserrat-SemiBoldItalic.ttf");
}

:root {
  font-family: "Montserrat Regular";
}

h1 {
  font-family: "Montserrat BoldItalic";
}

h2 {
  font-family: "Montserrat SemiBoldItalic";
}

p {
  font-family: "Montserrat SemiBold";
}
